/******* Structure *******/

* {
	padding: 0;
	margin: 0;
}

body {
	color: #222;
	background: #ebeae5;
	font: 0.8em/1.7em Lucida Grande, Helvetica, Verdana, sans-serif;
	margin: 2em 0;
}

#masthead,
#content,
footer {
    width:960px;
    margin:0px auto;
    display:block;
}

#masthead {
    margin-bottom:1em;
}

#sidebar {
    display:block;
    width:230px;
    float:right;
    border:5px solid #cac9c2;
    border-radius:12px;
    padding:15px;
    overflow:hidden;
    background:#ebeae5;
}

article {
    display:block;
    float:left;
    width:600px;
}

#content {
    background:#fff;
    border-top:5px solid #cac9c2;
    padding:30px;
    width:900px;
    overflow:auto;
}

h1, h2, h3, h4 {
    font-weight:normal;
}

a {
    color:#647279;
    border-bottom:1px dotted #647279;
    text-decoration:none;
}

p {
    margin-bottom:1em;
}

p.byline {
}